USE [db_MeetingAttendance]
GO
/****** Object:  StoredProcedure [dbo].[MA_CheckEmployeeByCard]    Script Date: 15/09/2025 8:44:02 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MA_CheckEmployeeByCard]
    @CardSerialNo NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

	SELECT 
	   [FirstName]
      ,[LastName]
      ,[MiddleName]
      ,[SectionName]
      ,[DepartmentName]
      ,[DivisionName]
    FROM Tbl_Employee
    WHERE CardSerialNo = @CardSerialNo;
END
GO
/****** Object:  StoredProcedure [dbo].[MA_EndMeeting]    Script Date: 15/09/2025 8:44:02 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MA_EndMeeting]
    @MeetingId NVARCHAR(50)
AS
BEGIN
    --SET NOCOUNT ON;

    UPDATE Tbl_Meetings
    SET Status1 = 'Completed'
    WHERE MeetingId = @MeetingId;

    -- Return the number of rows affected
    --RETURN @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[MA_GetAttendeesByMeeting]    Script Date: 15/09/2025 8:44:02 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MA_GetAttendeesByMeeting]
    @MeetingId NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
    p.CardSerialNo AS EmployeeID,
    CONCAT(e.FirstName, ' ', e.MiddleName, ' ', e.LastName) AS Name,
    e.DepartmentName AS Department,
    p.TapIn AS TimeIn,
    p.TapOut AS TimeOut
FROM 
    [db_MeetingAttendance].[dbo].[Tbl_Participants] p
INNER JOIN 
    [db_MeetingAttendance].[dbo].[Tbl_Employee] e
    ON p.CardSerialNo = e.CardSerialNo
WHERE 
    p.MeetingId = @MeetingId  -- Replace @MeetingId with your actual value
ORDER BY 
    p.TapIn DESC;

END
GO
/****** Object:  StoredProcedure [dbo].[MA_GetMeetingCounts]    Script Date: 15/09/2025 8:44:02 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MA_GetMeetingCounts]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        -- Total number of meetings
        --(SELECT COUNT(*) FROM tbl_Meetings) AS TotalMeetings,

        -- Meetings scheduled in the future
        (SELECT COUNT(*) FROM tbl_Meetings 
         WHERE [StartDateTime] > GETDATE() 
		 AND Status1 = 'Scheduled') AS UpcomingMeetings,

		 (SELECT COUNT(*) FROM tbl_Meetings 
		  WHERE Status1 = 'Ongoing') AS OngoingMeetings,

		 --(SELECT COUNT(*) FROM tbl_Meetings
		 --WHERE [StartDateTime] <= GETDATE() AND [EndDateTime] >= GETDATE()
			--AND Status1 = 'Ongoing') AS OngoingMeetings,

        -- Meetings scheduled in the past but not attended/missed
        --(SELECT COUNT(*) FROM tbl_Meetings 
        -- WHERE [EndDateTime] < GETDATE()
        --   AND Status1 = 'Scheduled') AS MissedMeetings,

(SELECT COUNT(*) FROM tbl_Meetings
 WHERE Status1 = 'Scheduled'
   AND (
        ([StartDateTime] <= GETDATE() AND [EndDateTime] >= GETDATE()) -- ongoing but still scheduled
        OR
        ([EndDateTime] < GETDATE()) -- already ended but not completed
   )
) AS MissedMeetings,





        ---- Meetings already completed (History)
		(SELECT COUNT(*) FROM tbl_Meetings 
         WHERE Status1 = 'Completed') AS HistoryMeetings;

        --(SELECT COUNT(*) FROM tbl_Meetings 
        -- WHERE [StartDateTime] < GETDATE()
        --   AND Status1 = 'Completed') AS HistoryMeetings;
END
GO
/****** Object:  StoredProcedure [dbo].[MA_GetMeetingDetails]    Script Date: 15/09/2025 8:44:02 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MA_GetMeetingDetails]
    @MeetingId NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Title, StartDateTime, EndDateTime, Venue
    FROM tbl_meetings
    WHERE MeetingId = @MeetingId;
END
GO
/****** Object:  StoredProcedure [dbo].[MA_GetUserMeetings]    Script Date: 15/09/2025 8:44:02 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MA_GetUserMeetings]
    @CreatedBy NVARCHAR(100)
AS
BEGIN
    --SELECT MeetingId, Title, StartDate, EndDate, Venue, Organizer
    --FROM Tbl_Meetings
    --WHERE CreatedBy = @CreatedBy 
    --  AND CAST(StartDate AS DATE) >= CAST(GETDATE() AS DATE)
    --ORDER BY StartDate;

	--SELECT * FROM [Tbl_Meetings]
	--WHERE CreatedBy = @CreatedBy 
	--AND CAST(GETDATE() AS DATE) BETWEEN startdate AND enddate
	--OR startdate > CAST(GETDATE() AS DATE)
	--ORDER BY StartDate;

	--SELECT *
	--FROM [Tbl_Meetings]
	--WHERE CreatedBy = @CreatedBy 
	--  AND (
	--	(CAST(GETDATE() AS DATE) BETWEEN StartDateTime AND EndDateTime)
	--	OR (StartDateTime > CAST(GETDATE() AS DATE))
	--  )
	--  AND Status1 IN ('Scheduled', 'Ongoing')
	--ORDER BY StartDateTime;

	SELECT 
      [MeetingId],
      [Title],
      [StartDateTime],
      [EndDateTime],
      [Venue],
	  [Status1]
	FROM [db_MeetingAttendance].[dbo].[Tbl_Meetings]
	WHERE CreatedBy = @CreatedBy 
	--AND Flag IN ('1', '2')
	AND Status1 IN ('Scheduled', 'Ongoing')
	ORDER BY StartDateTime;
END
GO
/****** Object:  StoredProcedure [dbo].[MA_GetUserMeetingsHistory]    Script Date: 15/09/2025 8:44:02 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MA_GetUserMeetingsHistory]
    @CreatedBy NVARCHAR(100)
AS
BEGIN
	SELECT 
      [MeetingId],
      [Title],
      [StartDateTime],
      [EndDateTime],
      [Venue],
	  [Status1],
	  [Organizer]
	FROM [db_MeetingAttendance].[dbo].[Tbl_Meetings]
	WHERE CreatedBy = @CreatedBy 
	AND Status1 IN ('Completed', 'Deleted')
	ORDER BY StartDateTime;
END
GO
/****** Object:  StoredProcedure [dbo].[MA_InsertAttendee]    Script Date: 15/09/2025 8:44:02 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MA_InsertAttendee]
    @MeetingId NVARCHAR(50),
    @CardSerialNo NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- Prevent duplicate tap-in
    IF EXISTS (
        SELECT 1 FROM Tbl_Participants
        WHERE MeetingId = @MeetingId
          AND CardSerialNo = @CardSerialNo
    )
    BEGIN
        SELECT 0 AS Result; -- Already tapped in
        RETURN;
    END

    -- Insert new record
    INSERT INTO Tbl_Participants (MeetingId, CardSerialNo, TapIn)
    VALUES (@MeetingId, @CardSerialNo, CONVERT(VARCHAR(23), GETDATE(), 121));

    SELECT 1 AS Result; -- Success
END
GO
/****** Object:  StoredProcedure [dbo].[MA_InsertMeeting]    Script Date: 15/09/2025 8:44:02 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MA_InsertMeeting]
    @Title NVARCHAR(200),
    @StartDateTime DATETIME,
    @EndDateTime DATETIME,
    @Venue NVARCHAR(100),
    @Organizer NVARCHAR(100),
    @CreatedBy NVARCHAR(100),
    @MeetingId NVARCHAR(50) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @Prefix NVARCHAR(20) = 'MA-' + FORMAT(GETDATE(), 'yyyyMM') + '-';

        -- Lock the table to prevent race conditions
        DECLARE @LastSeq INT;

        SELECT @LastSeq = ISNULL(MAX(CAST(RIGHT(MeetingId, 3) AS INT)), 0)
        FROM Tbl_Meetings WITH (TABLOCKX, HOLDLOCK)
        WHERE MeetingId LIKE @Prefix + '%';

        DECLARE @NextSeq INT = @LastSeq + 1;

        SET @MeetingId = @Prefix + RIGHT('000' + CAST(@NextSeq AS VARCHAR(3)), 3);

        INSERT INTO Tbl_Meetings 
            (MeetingId, Title, StartDateTime, EndDateTime, Venue, Organizer, CreatedBy, Status1)
        VALUES 
            (@MeetingId, @Title, @StartDateTime, @EndDateTime, @Venue, @Organizer, @CreatedBy, 'Scheduled');

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Rethrow the error so your C# can catch it
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[MA_UpdateAttendeeTimeout]    Script Date: 15/09/2025 8:44:02 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MA_UpdateAttendeeTimeout]
    @MeetingId NVARCHAR(50),
    @CardSerialNo NVARCHAR(50)
AS
BEGIN
    -- SET NOCOUNT ON;

    ---- Update only if the employee already tapped IN and has no TimeOut yet
    --UPDATE [db_MeetingAttendance].[dbo].[Tbl_Participants]
    --SET TapOut = CONVERT(VARCHAR(23), GETDATE(), 121)
    --WHERE MeetingId = @MeetingId
    --AND CardSerialNo = @CardSerialNo
    --AND TapOut IS NULL;

    ---- Returns the number of rows affected
    --RETURN @@ROWCOUNT;


	SET NOCOUNT ON;

    UPDATE Tbl_Participants
    SET TapOut = CONVERT(VARCHAR(23), GETDATE(), 121)
    WHERE MeetingId = @MeetingId
      AND CardSerialNo = @CardSerialNo
      AND TapOut IS NULL;

    SELECT @@ROWCOUNT AS Result;  -- <-- returns rows updated (0 or 1)
END
GO
/****** Object:  StoredProcedure [dbo].[MA_UpdateMeetingStatus]    Script Date: 15/09/2025 8:44:02 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MA_UpdateMeetingStatus]
    @MeetingID NVARCHAR(50),
    @Status NVARCHAR(50)
AS
BEGIN
    UPDATE tbl_meetings
    SET Status1 = @Status
    WHERE MeetingID = @MeetingID;
END
GO
